* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

header {
  padding: 26px 0;
}

.header-navigation ul {
  text-align: center;
}

.header-navigation li {
  display: inline;
  margin: 0 36px;
}

.header-link {
  color: #f00;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-decoration: none;
}

.banner {
  height: 789px;
  margin-bottom: 49px;
}

.heading {
  color: #373737;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 38px;
}

.content {
  margin-bottom: 66px;
}

.content-text {
  color: #373737;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  margin-bottom: 28px;
}

.button {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #f00;
  width: 191px;
  height: 51px;
  border: none;
  margin: 0 auto;
  display: block;
}

.footer {
  color: #373737;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.4px;
  margin: 82px 37px 29px;
  text-align: right;
}
